body{
    background-image: url("https://images8.alphacoders.com/115/thumb-350-1150814.png");
    margin: 0px;

}

#navb1{
    background-color:rgba(182, 178, 204, 0.027);
    color:white;

}